{% extends "model-page.html" %}

{% block content %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <label>Título:</label>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden> <!- leva a informação do id ->
    <br>  <!- Comando para saltar linha->
    <input type="text" name="titulo" size="23" value="{{ evento.titulo }}">
    <br>
    <label>Data Evento:</label>
    <br>
    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descricao" rows="5" rows="5" cols="25">{{ evento.descricao }}</textarea>
    <br><br>
    <button type="submit">Salvar</button>  <!- O botão salvar será direcionado para um submit ->
    <a href="/">
        <button type="button">Cancelar</button>  <!- o botão cancelar direciona para a tela principal agenda ->
    </a>
</form>
{% endblock %}
