<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %} <!- Sempre que tiver um form que não seja tipo “get” ->
        <div align="center">                             <!- deve se colocar o csrf_token, é para gerar um ->
            <label>Usuário:</label>                      <!- token de segurança para este certificado. ->
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <strong>Erro</strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>